<div>
  <h2 class="text-base font-semibold leading-7 text-gray-900"><%= title %></h2>
  <% if description.present? %>
    <p class="mt-1 text-sm leading-6 text-gray-500"><%= description %></p>
  <% elsif content.present? %>
    <div class="mt-1 text-sm leading-6 text-gray-500">
      <%= content %>
    </div>
  <% end %>
</div>
